<IfModule mod_rewrite.c>
    # Enable mod_rewrite
    RewriteEngine On
    
    #Specify the folder in which the application resides
    # Use / if the application is in tke root folder.
    RewriteBase /shirtswithstamps

    # Rewrite the correct domain to avoid canonicalizaton problems
    # RewriteCond %{HTTP_HOST} !^www\.example\.com
    # RewriteRule ^(.*)$ http://www.example.com/$1

    # Rewrite URLs ending in /index.php or /index/html to /
    RewriteCond %{THE_REQUEST} ^GET\ .*/index\.(php|html?)\ HTTP
    RewriteRule ^(.*)index\.(php|html?)$ $1 [R=301,L]

    # Rewrite category pages
    RewriteRule ^.*-d([0-9]+)/.*-c([0-9]+)/page-([0-9]+)/?$ index.php?DepartmentId=$1&CategoryId=$2&Page=$3 [L]
    RewriteRule ^.*-d([0-9]+)/.*-c([0-9]+)/?$ index.php?DepartmentId=$1&CategoryId=$2 [L]

    # Rediect department pages
    RewriteRule ^.*-d([0-9]+)/page-([0-9]+)/?$ index.php?DepartmentId=$1&Page=$2 [L]
    RewriteRule ^.*-d([0-9]+)/?$ index.php?DepartmentId=$1 [L]

    # Redirect Search Results
    RewriteRule ^search-results/find-(.*)/all-words-(on|off)/page-([0-9]+)/?$ index.php?SearchResults&SearchString=$1&AllWords=$2&Page=$3 [L]
    RewriteRule ^search-results/find-?(.*)/all-words-(on|off)/?$ index.php?SearchResults&SearchString=$1&AllWords=$2&Page=1 [L]

    # Rewrite subpages of the home page
    RewriteRule ^page-([0-9]+)/?$ index.php?Page=$1 [L]

    # Rewrite product details pages
    RewriteRule ^.*-p([0-9]+)/?$ index.php?ProductId=$1 [L]

    # Rewrite cart details pages
    RewriteRule ^cart-details/?$ index.php?CartAction [L]

</IfModule>

# Set the default 500 page for Apache errors
ErrorDocument 500 /shirtswithstamps/500.php

# Set the default 404 page for Apache errors
ErrorDocument 404 /shirtswithstamps/404.php